<div class="container">
    <h1 style="text-align: center;">
        Unit Conversation
    </h1>
    <form [formGroup]="service.form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Input Numeric Value:</label>
                    <input class="form-control" formControlName="inputValue" type="number">
                </div>
                <div *ngIf="service.form.controls['inputValue'].invalid && (service.form.controls['inputValue'].dirty || service.form.controls['inputValue'].touched)" class="alert alert-danger">
                    <div *ngIf="service.form.controls['inputValue'].errors.required">
                        Input Numeric Value is required.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Input Unit of Measure:</label>
                    <!-- <input class="form-control" formControlName="inputUnitMeasure" type="text"> -->
                    <select class="form-control form-select form-select-lg mb-3" formControlName="inputUnitMeasure" aria-label=".form-select-lg example">
                        <option selected>Select Input Unit Measure</option>
                        <option *ngFor="let temperatureUnit of allUnit; let j=index;" value="{{j}}">
                            {{temperatureUnit.plural}}</option>
                    </select>
                </div>
                <div *ngIf="service.form.controls['inputUnitMeasure'].invalid && (service.form.controls['inputUnitMeasure'].dirty || service.form.controls['inputUnitMeasure'].touched)" class="alert alert-danger">
                    <div *ngIf="service.form.controls['inputUnitMeasure'].errors.required">
                        Input Unit of Measure is required.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Target Unit of Measure:</label>
                    <!-- <input class="form-control" formControlName="targetUnitMeasure" type="text"> -->
                    <select class="form-control form-select form-select-lg mb-3" formControlName="targetUnitMeasure" aria-label=".form-select-lg example">
                        <option selected>Select Input Unit Measure</option>
                        <option *ngFor="let temperatureUnit of allUnit; let j=index;" value="{{j}}">
                            {{temperatureUnit.plural}}</option>
                    </select>
                </div>
                <div *ngIf="service.form.controls['targetUnitMeasure'].invalid && (service.form.controls['targetUnitMeasure'].dirty || service.form.controls['targetUnitMeasure'].touched)" class="alert alert-danger">
                    <div *ngIf="service.form.controls['targetUnitMeasure'].errors.required">
                        Target Unit of Measure is required.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Student Response:</label>
                    <input class="form-control" formControlName="studentResponse" type="text">
                </div>
                <div *ngIf="service.form.controls['studentResponse'].invalid && (service.form.controls['studentResponse'].dirty || service.form.controls['studentResponse'].touched)" class="alert alert-danger">
                    <div *ngIf="service.form.controls['studentResponse'].errors.required">
                        Student Response is required.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" [disabled]="service.form.pristine || service.form.invalid" class="btn btn-primary" (click)="onSubmit()">
                    Submit
                </button> &nbsp;&nbsp;
                <button type="submit" class="btn btn-warning" (click)="onClear()">
                    Clear
                </button>
            </div>
        </div>
    </form>
    <ng-container *ngIf="dataSource.length>0">
        <div class="row" style="padding-top: 20px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Input Numerical Value</th>
                        <th scope="col">Input Unit of Measure</th>
                        <th scope="col">Target Unit of Measure</th>
                        <th scope="col">Student Response</th>
                        <th scope="col">Output</th>
                        <th scope="col">Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataSource;" [ngClass]="data.output === 'Invalid' ? 'table-danger' : (data.output === 'Correct' ? 'table-success' : 'table-warning')">
                        <td>{{data.inputNumericalValue}}</td>
                        <td>{{data.inputUnitofMeasure}}</td>
                        <td>{{data.targetUnitofMeasure}}</td>
                        <td>{{data.studentResponse}}</td>
                        <td>{{data.output}}</td>
                        <td>{{data.correctAnswer}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</div>