table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.invalid-bg-color {
    background-color: #f33617eb
}

.incorrect-bg-color {
    background-color: #b24b3a73
}

.correct-bg-color {
    background-color: #47b23a73
}